<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>找回密码</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css" id="theme-stylesheet">
    <style>
      h1,p {
        font-family: "楷体", KaiTi, serif;
      }
      p {
        display: block;
      }
      span{
        color:white;
      }
    </style>
  </head>
  <body>
    <div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6">
              <div class="info d-flex align-items-center">
                <div class="content">
                  <div class="logo">
                    <h1>找回密码</h1>
                  </div>
                  <p>隐私计算平台</p>
                  <div>
                    <p>该平台基于联邦学习采用多种隐私加密算法，能为您提供最合适的隐私加密需求，感谢您的选择，让我们为您的秘密保驾护航</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
            <div class="col-lg-6 bg-white">
              <div class="form d-flex align-items-center">
                <div class="content">
                  <form method="post" action="/login/findpd" class="form-validate" id="FindpdForm">
                    {% if findpd_form.captcha.errors %}
                      <div class="alert alert-warning">验证码输入有误！</div>
                    {% elif message %}
                      <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}
                    {% csrf_token %}
                    <div class="form-group">
                      {{ findpd_form.telephone.label_tag }}
                      {{ findpd_form.telephone }}
                    </div>
                    <div class="form-group">
                      {{ findpd_form.captcha.label_tag }}
                      {{ findpd_form.captcha }}
                      <input id="scaptcha" type="button" class="btn btn-primary bg-dark" value="发送验证码" onclick="sendCaptcha()">
                    </div>
                    <div class="form-group">
                      {{ findpd_form.new_password.label_tag }}
                      {{ findpd_form.new_password }}
                    </div>
                    <button id="findPassword" type="submit" class="btn btn-primary bg-dark">确定</button>

                  </form>
                  <br />
                  <small>没有账号?</small><a href="./register" class="signup">&nbsp;注册</a>
                  <div><small>返回登录?</small><a href="./" class="signup">&nbsp;返回登录</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="sticky-footer bg-dark">
      <div class="container my-auto">
          <div class="copyright text-center my-auto">
              <span >Copyright &copy; DataWrangler</span>
          </div>
      </div>
  </footer>
    <!-- JavaScript files-->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/vendor/jquery.validate.js"></script><!--表单验证-->
    <!-- Main File-->
    <script src="../static/js/front.js"></script>
    <script>

    function sendCaptcha() {
        var telephone = document.getElementById('id_telephone').value;
        var captcha = document.getElementById('id_captcha').value;
        var button = document.getElementById('scaptcha');
        if (!telephone) {
            alert('请输入手机号码！');
            return;
        }
        // 发送请求到后端发送验证码的接口
        $.ajax({
            type: 'POST',
            url: 'send-captcha',
            data: {
                'telephone': telephone,
              'captcha': captcha,  // 将验证码作为参数发送到后端
            'csrfmiddlewaretoken': '{% csrf_token %}'  // 替换为你的模板引擎的方式获取 CSRF token
            },
          beforeSend: function () {
      // 发送请求前禁用按钮
      button.disabled = true;
    },
            success: function (response) {
                if (response.status === 'success') {
                    alert('验证码已发送，请注意查收！');
                    var count = 60;
        var timer = setInterval(function () {
          count--;
          button.value = count + '秒后可重新发送';

          if (count <= 0) {
            // 倒计时结束，恢复按钮状态
            button.value = '发送验证码';
            button.disabled = false;
            clearInterval(timer);
          }
        }, 1000);
                } else {
                    alert('发送验证码失败：' + response.message);
                    // 发送失败，恢复按钮状态
        button.disabled = false;
                }
            },
            error: function () {
                alert('发送验证码失败：请求错误！');
                button.disabled = false;
            }
        });
    }
      $('.captcha').click(function () {
        $.getJSON("/captcha/refresh/", function (result) {
          $('.captcha').attr('src', result['image_url']);
          $('#id_captcha_0').val(result['key'])
        });
      });
    </script>
  </body>
</html>
