<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>register</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/style.css" id="theme-stylesheet">
<style>
  h1,p {
    font-family: "楷体", KaiTi, serif;
  }
  p {
    display: block;
  }
</style>
  </head>
  <body>
    <div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6">
              <div class="info d-flex align-items-center">
                <div class="content">
                  <div class="logo">
                    <h1>欢迎注册</h1>
                  </div>
                  <p>隐私计算平台</p>
                  <div>
                  <p>该平台基于联邦学习采用多种隐私加密算法，能为您提供最合适的隐私加密需求，感谢您的选择，让我们为您的秘密保驾护航</p>
                </div>
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
            <div class="col-lg-6 bg-white">
              <div class="form d-flex align-items-center">
                <div class="content">
                  <form method="post" action="/login/register" class="form-validate" id="loginFrom">
                    {% if register_form.captcha.errors %}
                      <div class="alert alert-warning">{{ register_form.captcha.errors }}</div>
                    {% elif message %}
                      <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}
                    {% csrf_token %}
                    <div class="form-group">
                      {{ register_form.nickname.label_tag }}
                      {{ register_form.nickname }}
                    </div>
                    <div class="form-group">
                      {{ register_form.password1.label_tag }}
                      {{ register_form.password1 }}
                    </div>
                    <div class="form-group">
                      {{ register_form.password2.label_tag }}
                      {{ register_form.password2 }}
                    </div>
                    <div class="form-group">
                      {{ register_form.telephone.label_tag }}
                      {{ register_form.telephone }}
                    </div>
                    <div class="form-group">
                      {{ register_form.captcha }}
                    <input id="scaptcha" type="button" class="btn btn-primary" value="发送验证码" onclick="sendCaptcha()">
                    </div>
                    <button id="login" type="submit" class="btn btn-primary">注册</button>
                  </form>
                  <small>已有账号?</small><a href="./" class="signup">&nbsp;登录</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- JavaScript files-->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script>
    function sendCaptcha() {
        var telephone = document.getElementById('id_telephone').value;
        var captcha = document.getElementById('id_captcha').value;
        if (!telephone) {
            alert('请输入手机号码！');
            return;
        }
        // 发送请求到后端发送验证码的接口
        $.ajax({
            type: 'POST',
            url: 'send-captcha',
            data: {
                'telephone': telephone,
              'captcha': captcha,  // 将验证码作为参数发送到后端
            'csrfmiddlewaretoken': '{% csrf_token %}'  // 替换为你的模板引擎的方式获取 CSRF token
            },
            success: function (response) {
                if (response.status === 'success') {
                    alert('验证码已发送，请注意查收！');
                } else {
                    alert('发送验证码失败：' + response.message);
                }
            },
            error: function () {
                alert('发送验证码失败：请求错误！');
            }
        });
    }
</script>




  </body>
</html>